# CMake build folders
build/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
Makefile

# Compiled products
*.o
*.obj
*.exe
*.out
*.dSYM/

# VSCode configuration
.vscode/

# macOS file
.DS_Store

# Language server cache
.cache/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml CMakeLists.txt
